<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  
  {{ style('style') }}

  @!section('extracss)

  <title>
    @!section('title')
  </title>

</head>
<body>
    <header>

    </header>
</body>
</html>
